

.header-top{
    /* background-color: rgb(255, 255, 255); */
    height: 40px;
}
.header-top-menu{
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.header-top-menu-list{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header-top-menu-item{
    margin-right: 30px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 300;
    
}
a{
    color: rgb(0, 0, 0) ;
    list-style-type: none;
    text-decoration: none;
}